.button {
	margin: 2px;
	padding: 0 .2pc;
	@extend %translucent-div;
	box-shadow: 3px 0px 20px 0px #f2f2f2;
	// position: relative;
	overflow: hidden;
	cursor: pointer;

	display: inline-flex;
	align-items: center;
}
.button p {
	display: inline-block;
	font-weight: bold;
	font-family: "EkMukta-Light";
	margin: 0 auto;
}

[class^="mdl2-"]::before, [class*="mdl2-"]::before {
	align-self: flex-start;
	// flex rocks -> https://developer.mozilla.org/en-US/docs/Web/CSS/align-self
}

.button.navback {
	width: 28%
}
.button.navtoplevel {
	width: 38%;
	margin: 2px auto;
	text-align: center;
}
.button.navlayout {
	width: 28%;
}

// finally a button shine that doesn't suck
// https://codepen.io/redouglas/pen/gobsm
// doesn't use relative positioning or anything else that screws with layouts
.button.shine {
	background: linear-gradient(to top right, 
		rgba(34, 34, 34, 0.13) 0%, 
		rgba(255, 255, 255, 0.7) 45%, 
		rgba(34, 34, 34, 0.13) 60%, 
		rgba(34, 34, 34, 0.13) 100%);
    background-size: 200% 500%;
	@extend %translucent-div;
	background-repeat: no-repeat;
	background-position: top right;
}

.button.shine:active,
.button.shine:hover {
	animation: button-shine .25s cubic-bezier(0.075, 0.82, 0.7, 1);
}

@keyframes button-shine {
	0% {
		background-position: top right;
	}
	75% {
		background-position: bottom left;
	}
	100% {
		background-position: top right;
	}
}
