// html, body { height: 100%; }
// body {
//   overflow: hidden;
// }

// #container {
  // display: none;
// }

// svg {
//   position: absolute;
//   width: 2240px;
//   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
//   transform: translate3d(0, 0, 0);
// }

$stop-opacity-low: 1;
$stop-opacity-mid: 1;
$stop-opacity-high: 1;
$animation-color-time: 2s;
// $animation-timing: cubic-bezier( 0.36, 0.45, 0.63, 0.53);
$animation-timing: linear;

$color_A: #c80101; // red
$color_B: #3d7f27; // green
$color_C: #7486e1; // blue

$stop_colors: $color_A $color_C $color_B $color_A,
              $color_B $color_A $color_C $color_B,
              $color_C $color_B $color_A $color_C,
              $color_A $color_C $color_B $color_A;
              
$stop_transparent: $stop-opacity-mid $stop-opacity-high $stop-opacity-high $stop-opacity-low;
$stop_times:  0% 33% 66% 100%;

path {
  stroke-width: 4;
  // stroke-linecap: ;
}

@for $stop from 1 through length($stop_times) {
  #ColorWaveGradient .stop#{$stop} {
    animation: gradient-#{$stop} $animation-color-time $animation-timing infinite;
  transform: translate3d(0, 0, 0);
  }
  @keyframes gradient-#{$stop} {
    @for $i from 1 through length($stop_times) {
     #{nth($stop_times, $i)} {
       // stop-color: nth($stop_colors, $stop + if( $i > length($stop_colors) , $i - length($stop_colors) , ($i - 1) ) );
       // stop-color: nth( join($stop_colors,$stop_colors) , $stop + ( $i - 1 ) );
       
       stop-color: nth( nth( $stop_colors , $stop ) , $i );


       stop-opacity: nth( join($stop_transparent,$stop_transparent) , $stop + ( $i - 1 ) );
      }
    }
  }
}




//     0% {
//     stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
//  25% {
//     stop-color: $color_B; stop-opacity: $stop-opacity-high;
//   }
//   50% {
// 		stop-color: $color_C; stop-opacity: $stop-opacity-mid;
//   }
//   }
// }

// #ColorWaveGradient .stop1 {
//   animation: gradient-1 $animation-color-time $animation-timing infinite;
//   transform: translate3d(0, 0, 0);
// }
// @keyframes gradient-1 {
//   0% {
//     stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
//  25% {
//     stop-color: $color_B; stop-opacity: $stop-opacity-high;
//   }
//   50% {
// 		stop-color: $color_C; stop-opacity: $stop-opacity-mid;
//   }
  
//  75% {
//     stop-color: $color_B; stop-opacity: $stop-opacity-high;
//   }
//   100% {
//     stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
// }


// #ColorWaveGradient .stop2 {
//   animation: gradient-2 $animation-color-time $animation-timing infinite;
//   transform: translate3d(0, 0, 0);
// }

// @keyframes gradient-2 {
//   0% {
//     stop-color: $color_B; stop-opacity: $stop-opacity-high;
//   }
//  25% {
//     stop-color: $color_C; stop-opacity: $stop-opacity-mid;
//   }
//   50% {
// 		stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
//  75% {
//     stop-color: $color_C; stop-opacity: $stop-opacity-mid;
//   }
  
//   100% {
//     stop-color: $color_B; stop-opacity: $stop-opacity-high;
//   }
// }

// #ColorWaveGradient .stop3 {
//   animation: gradient-3 $animation-color-time $animation-timing infinite;
//   transform: translate3d(0, 0, 0);
// }
// @keyframes gradient-3 {
//   0% { stop-color: $color_C; stop-opacity: $stop-opacity-mid; }
//  25% {
//     stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
//   50% {
// 		stop-color: $color_B; stop-opacity: $stop-opacity-high;
//   }
//  75% {
//     stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
  
//   100% {
//     stop-color: $color_C; stop-opacity: $stop-opacity-mid;
//   }
// }

// #ColorWaveGradient .stop4 {
//   animation: gradient-1 $animation-color-time $animation-timing infinite;
//   transform: translate3d(0, 0, 0);
// }
// @keyframes gradient-4 {
//   0% { stop-color: $color_C; stop-opacity: $stop-opacity-mid; }
//  25% {
//     stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
//   50% {
// 		stop-color: $color_B; stop-opacity: $stop-opacity-high;
//   }
//  75% {
//     stop-color: $color_A; stop-opacity: $stop-opacity-low;
//   }
  
//   100% {
//     stop-color: $color_C; stop-opacity: $stop-opacity-mid;
//   }
// }

.wave:nth-of-type(1) {
  transform: translate(100%);
}
// .wave:nth-of-type(2) {
//   transform: translate(-20%);
// }
// .wave:nth-of-type(3) {
//   transform: translate(-30%);
// }
// .wave:nth-of-type(4) {
//   transform: translate(-40%);
// }
// .wave:nth-of-type(5) {
//   transform: translate(-50%);
// }
// .wave:nth-of-type(6) {
//   transform: translate(-60%);
// }
// .wave:nth-of-type(7) {
//   transform: translate(-70%);
// }
// .wave:nth-of-type(8) {
//   transform: translate(-80%);
// }
// .wave:nth-of-type(9) {
//   transform: translate(-90%);
// }


// .wave:nth-of-type(2) {
//   top: -175px;
//   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
//   opacity: 1;
// }


// .ocean { 
//   height: 5%;
//   width:100%;
//   position:absolute;
//   bottom:0;
//   left:0;
//   background: #015871;
// }

// .wave {
//   background: url(http://tedmcdo.com/labs/wave.svg) repeat-x; 
//   position: absolute;
//   top: -198px;
//   width: 6400px;
//   height: 198px;
//   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
//   transform: translate3d(0, 0, 0);
// }

// .wave:nth-of-type(2) {
//   top: -175px;
//   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
//   opacity: 1;
// }

// @keyframes wave {
//   0% {
//     margin-left: 0;
//   }
//   100% {
//     margin-left: -1600px;
//   }
// }

// @keyframes swell {
//   0%, 100% {
//     transform: translate3d(0,-25px,0);
//   }
//   50% {
//     transform: translate3d(0,5px,0);
//   }
// }


// div {
//   display: inline-block;
// }

// .curve {
//   margin-bottom: 110px;
// }

// .linear {
//   animation: linearmov 8s linear infinite alternate;
// }

// .perspective {
//   transform: perspective(600px) rotateY(26deg);
// }

// .increase, .decrease {
//   height: 5.4px;
//   background: #0a0808;
//   width: 149.877px;
//   margin-left: -89.75px;
//   position: relative;
//   z-index: 1;
// }

// .increase {
//   transform: rotate(-38.43deg);
// }

// .decrease {
//   transform: rotate(38.43deg);
//   margin-left: -88.25px;
// }

// .peak, .valley {
//   border: 5.7px solid #1e1717;
//   border-top: 5.7px solid #0a0808;
//   border-radius: 50%;
//   width: 140px;
//   height: 105px;
// }

// .peak {
//   transform: translate(-44px, 47.65px);
// }

// .valley {
//   transform: rotate(180deg) translate(45px, -62px);
// }

// body {
//   background: #1e1717;
//   white-space: nowrap;
//   overflow-x: hidden;
//   font-family: "Allerta";
//   text-align: center;
// }

// .showing {
//   float: right;
//   background: #1e1717;
//   width: 100%;
//   height: 200px;
//   animation: showing 4s linear infinite alternate;
//   position: relative;
//   z-index: 2;
// }

// @keyframes linearmov {
//   from {
//     transform: translateX(0);
//     perspective: 300px;
//   }

//   to {
//     transform: translateX(-1030px);
//   }
// }
// @keyframes showing {
//   from {
//     transform: translateX(0%);
//   }

//   to {
//     transform: translateX(105%);
//   }
// }
