


.main h1 {
	font-weight: 500;
	font-size: 1.7pc;
	font-family: "EkMukta-Light";
	margin: .7pc 0 0 0; // top is 1pc
	border-top-left-radius: 1pc;
	border-top-right-radius: 1pc;
	padding: .1pc .4pc .1pc .4pc;
	@extend %translucent-div;

}
