

svg {
	background-color: #356997;
}

rect {
	stroke: red;
	stroke-width: 5;
	fill: purple;
}


@font-face {
    font-family: 'EkMukta-Light';
    src: url('resource/EkMukta-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#clock {
	text-anchor:	middle;
    font-family: 	"EkMukta-Light";
	font-size: 		72pt;
	fill:  			#eeeeee;
	
}
